@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
nav {
  background-color: #262936;
  color: #ccc;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-right: 10%;
  font-size: 0.8rem;
}

.first-nav{
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
}

nav li {
  margin: 0 5px;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.hero-section {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0;
}

.hero-upper  {
  padding: 10px 0px;
  position: absolute;
  display: flex;
  max-height: 100px;
  width: 100%;
  /* max-width: 100%; */
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-upper h1 {
  flex-basis: 20%;
}


.hero-upper  form {
  flex-basis: 60%;
  display: flex;
  align-items: stretch;
}

.hero-upper  form .form-element *{
  padding: 0 30px;
  border: 0;
  margin: 0;
  height: 100%;
  max-height: 55px;
  /* padding: 20px 50px; */
}

.hero-upper  form .form-element select {
  background-color: #b31b40;
  color: #fff;
  flex-grow: 1;
  text-align: center;
  text-align-last:center;
  justify-content: center;
}
.hero-upper  form .form-element option {
  text-align: center;
  justify-content: center;
}
.hero-upper  form .form-element:nth-child(1){
  flex-grow: 1;
  display: flex;
}
.hero-upper  form .form-element:nth-child(2){
  flex-grow: 3;
  display: flex;
}

.hero-upper  form .form-element input {
  color: #000;
  flex-grow: 1;
  /* width: 100%; */
}
.hero-upper .language {
  margin: 0 20px;
  /* flex-basis: 20%; */
  /* display: flex; */
  /* align-items: center; */
}

.hero-upper .language img {

  /* display: inline; */
  height: auto;
  width: auto;
}
.hero-upper .language select{
  display: inline;
  /* flex-basis: 10%; */
}

.hero-upper span img {
  display: inline-block;
}
.hero-upper h1 a{
  display: block;
  max-height: 100%;
}

.hero-lower {
  position: relative;
  width: 80%;
  margin: auto;
  transform:  translateY(-50%);
  text-transform: uppercase;
  display: flex;
  /* box-shadow: 2px 2px 10px -5px #777; */
}

.hero-lower li a {
  color: #000;
  font-weight: 600;
  font-size: 0.9rem;
}

.hero-lower li {
  background-color: #fff;
  padding: 20px;
  flex-grow: 1;
  box-shadow: 6px 5px 10px 0px #aaa;
  text-align: center;
}

.hero-lower:before {
  content: "";
  padding: 20px;
  background-color: #fff;
  border-top-left-radius :50%;
  border-bottom-left-radius :50%;
  box-shadow: 6px 5px 5px 0px #aaa;
}

.hero-lower:after {
  content: "";
  padding: 20px;
  background-color: #fff;
  border-top-right-radius :50%;
  border-bottom-right-radius :50%;
  box-shadow: 5px 5px 5px 0px #aaa;
}

/* voucher enquiry */

section {
  margin: 50px 0;
}

.section-heading {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.section-heading:after {
  content: "";
  display: block;
  padding: 1px;
  height: 1px;
  width: 30px;
  margin: auto;
  border-bottom: 1px solid red;
}
.voucher {
  margin-top: 30px;
}
.voucher-enquiry-content div:first-child img {
  width: auto;
}
.voucher-enquiry-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.voucher-enquiry-content div:first-child {
  flex-basis: 40%;
}

.voucher-enquiry-content p {
  margin: 10px 0;
  font-weight: 600;
  font-size: 0.9rem;
  color: #555;
  
  text-align:justify;
  word-break:keep-all;
}

.voucher-enquiry-content form {
  padding: 20px;
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 0 5px 5px #ccc;
}

.voucher-enquiry-content form> * {
  flex-basis: 45%;
  margin : 10px
}

.captcha {
  max-height: 50px;
  display: flex;
  background-color: #eee;
  padding: 5px;
}

.voucher-enquiry-content form input {
  padding: 10px 10px;
  box-sizing: border-box;
}

.voucher-enquiry-content form button {
  background-color: #b31b40;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 10px 0 ;
  border-radius: 3px;
}
.voucher-enquiry-content form img {
  /* object-fit: contain; */
  /* height: 100%; */
  /* max-height: 100%; */
  width: auto;
  /* width: 100%; */
}

/* PRODUCTS */

.products-content{
  display: flex;
  align-items: stretch;
  margin-top: 30px;
}

.product-titles {
  flex-basis: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  /* align-items: center; */
}

.product-titles li {
  flex-grow: 1;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 31px 10px;
  box-sizing: border-box;
}

.product-list {
  display: flex;
}

.product-list li {
  display: none;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
}

.product-list li p {
  flex-basis: 60%;
  text-align: center;
  color: #555;
}

.product-list li .img-container {

  flex-basis: 20%;
}
.product-list li img {
  /* margin: 20px 0; */
  /* width: 100%; */
}

.product-list li:first-child {
  display: flex;
}


.testimonials img {
  width: auto;
}
footer {
  width: auto;

}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  